/*@font-face
{
	font-family:"MuseoSans";
	src: url(https://docs.google.com/open?id=0B1TSeCZsgId4bmJRcXdnSVhYczg) format("truetype");
}*/


body{
	font-family:"museo Sans 500";
	font-size:14px
}

header{
	position: fixed;
	z-index:100;
	width:100%;
	background-color: #ebe6dc;
}
img.logo{
	width:45px;
	height:45px;
}

div#pageOne{
	margin:0 3px;
}

input#aroundMe{
	background-image:url(../resources/pinmap.png), -webkit-gradient(linear, left top, left bottom, from(#bfc0bc), to(#646560));
	width:45px;
	height:45px;
	border:0;
	margin:0 1px;
}
input#favorites{
	background-image:url(../resources/fav_icon.png), -webkit-gradient(linear, left top, left bottom, from(#bfc0bc), to(#646560));
	width:45px;
	height:45px;
	border:0;
	margin:0 1px 0 0;
}
input#settings{
	background-image:url(../resources/settings.png), -webkit-gradient(linear, left top, left bottom, from(#bfc0bc), to(#646560));;
	width:45px;
	height:45px;
	border:0;
	margin:0 1px 0 0;
}
#linksContainer
{
/* not working....
display:box;
box-orient:horizontal;
box-pack:center;
box-align:center;*/
}
	#linksContainer a, #advancedSearch a{
		text-decoration:none;
		text-align:center;
		width:auto;
		min-width:45px;
		height:45px;
		line-height:45px;
		padding:0 3px;
		float:left;
		background-color:#646560;
		border-right:1px solid #bfc0bc;
		color:#fff;
	}
	/*#linksContainer a:first-child{
		background: -webkit-gradient(linear, left top, left bottom, from(#00d0e8), to(#0095a6));
	}*/
	#linksContainer a:last-child{
		border-right:none;
	}
.left
{
	float:left;
}

.css3_accordion div {
	height: 0;
	overflow: hidden;
	-webkit-transition: height 500ms ease; 
	background-color:#bfc0bc;
	width:30%;
}
.css3_accordion div:target {
 	height: auto;
 	width:100%;
}
/*div.css3_accordion a{
	text-decoration:none;
	color:#fff;
	background-color: #646560;
	width:30%;
}*/

.accordion a { 
	display:block; 
	background-color:#646560; 
	color:#fff; 
	text-decoration:none; 
	width:100%;
	border-bottom:1px solid #fff;
	min-height:44px;
}
.accordion div p { 
	padding:20px;
}

.panel {
position: fixed;
top: 53px;
right: 0;
display: none;
background: #000;
border:1px solid #111111;
width: 30%;
height: 500px;
padding: 30px;
filter: alpha(opacity=85);
opacity: .85;
}

header{
	margin:0;
}

#map{
	position: fixed;

}

/*pop up styles*/
#popup_box { 
	display:none; /* Hide the DIV */
	position:fixed;  
	_position:absolute; /* hack for internet explorer 6 */  
	height:auto;  
	width:auto;  
	background:#FFFFFF;  
	left: 300px;
	top: 150px;
	z-index:1;
	margin-left: 15px;  
	
	/* additional features, can be omitted */
	border:2px solid #646560;  	
	padding:15px;  
	font-size:15px;  
	-moz-box-shadow: 0 0 5px #646560;
	-webkit-box-shadow: 0 0 5px #646560;
	box-shadow: 0 0 5px #646560;
	
}

/* This is for the positioning of the Close Link */
#popupBoxClose {
	font-size:20px;  
	line-height:15px;  
	right:5px;  
	top:5px;  
	position:absolute;  
	color:#646560;  
	font-weight:500;  	
}




