<div id='configuration'><p>Configuration panel<p>
	<div id="flipBack"></div>
	<form>
		<p>Map Type: <input class="input-small" type="text" id="mapType" readonly /></p>
		<div id="sliderMapType"></div><p>roadmap / satellite / terrain</p><br/>

		<p>News panel: <input class="input-small" type="text" id="newsPanel" readonly /></p>
		<div id="sliderNewsPanel"></div><p>opened / closed</p><br />

		<p>Time range: <input class="input-medium" type="text" id="timeRange" readonly /></p>
		<div id="sliderTimeRange"></div><p>1 month ago / 2 weeks ago / 1 week ago / yesterday / now</p><br />

		<p>Keyword:<input class="input-small" type="text" name="keywordDefault" /></p>
		<p>People:<input class="input-small" type="text" name="peopleDefault" /></p>
		<p>Place:<input class="input-small" type="text" name="placeDefault" /></p>

		
	</form>
	<div id="configButton" ><button class="btn btn-mini">I'm done here!</button></div>
	News provider API: <p><a href="#">Semantic Wire</a></p>
	<a id="configClose">x</a>	
</div>