<div id="flipbox">

<header>
	<nav>
		<div id="linksContainer" class="left"></div>
	</nav>
</header>

<div id="settings"></div>

<div id="drawMode"></div>
<div id="drawModeClear"></div>

<div id="popup_box" class="alerts">
	<form>
		<p>Keyword:</p> <input class="input-medium" type="text" name="keyword" /><br />
		<p>People:</p> <input class="input-medium" type="text" name="people" /><br />
		<p>Place:</p> <input class="input-medium" type="text" name="place" /><br />
		Time range: <input class="input-medium" type="text" id="amount" readonly />
		<div id="slider"></div>
	</form>
	<div id="buttonWrap"><button class="btn btn-mini">Search</button></div>
	<a id="popupBoxClose">x</a>	
</div>


<div id="noDataMessage" class="alerts">
	<stong>I'm sorry sunshine, no data is available.<br /> Why don't you try something else?</strong><br />
	<button class="btn btn-info btn-mini">Okay</button> 
</div>

<canvas id="canvas" width="1366" height="624"></canvas>
<div id="map"></div>


<div id="newsArrow" class="active"></div>
<div id="accordion">
	
	<div class="panel"> 
		<h6>{{numberOfNews}}</h6>
		<div class="css3_accordion accordion" id="bodyAccordion"></div>
	</div>
</div>

</div>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <!--  <script src="scripts/assets/js/jquery.js"></script> -->
 
   <!-- <script src="scripts/assets/js/bootstrap-alert.js"></script>
    <script src="scripts/assets/js/bootstrap-modal.js"></script>
    <script src="scripts/assets/js/bootstrap-tab.js"></script>
    <script src="scripts/assets/js/bootstrap-tooltip.js"></script>
    <script src="scripts/assets/js/bootstrap-popover.js"></script>
    <script src="scripts/assets/js/bootstrap-button.js"></script>
    <script src="scripts/assets/js/bootstrap-dropdown.js"></script>
    <script src="scripts/assets/js/bootstrap-transition.js"></script>
    <script src="scripts/assets/js/bootstrap-carousel.js"></script>-->
    <!-- <script src="scripts/assets/js/bootstrap-scrollspy.js"></script>
     <script src="scripts/assets/js/bootstrap-collapse.js"></script>
    <script src="scripts/assets/js/bootstrap-typeahead.js"></script>-->


<!--<script type="text/javascript">
		$(".alert").alert();
	</script>-->



