<header>
	<!--<img src={{imgSrc}} alt="logo" class="left" id="logo" />-->
	<div class="left" id="logo" />

	<nav>
		<div id="linksContainer" class="left"></div>
	</nav>

	<div id="advancedSearch"></div>	

	<div id="pageOne" class="left">
	 {{ fillMe }}

	 <div id="fullresponse"><span/></div>
    <!--<i class="icon-user"></i> Username -->
	</div>

	
</header>

<div id="popup_box">
	<p>Time filter: From <input type="text" name="timeFrom" placeholder="-7 days" /> To <input type="text" name="timeTo" placeholder="now" /><br />
		Keyword: <input type="text" name="keyword" /><br />
		People: <input type="text" name="people" /><br />
		Place: <input type="text" name="place" />
	</p>
	<a id="popupBoxClose">Okaaay</a>	
</div>

<div id="map"></div>

<div class="panel">
		<div id="headAccordion"></div>	
		<div class="css3_accordion accordion" id="bodyAccordion"></div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="scripts/assets/js/jquery.js"></script>
    <script src="scripts/assets/js/bootstrap-transition.js"></script>
    <script src="scripts/assets/js/bootstrap-alert.js"></script>
    <script src="scripts/assets/js/bootstrap-modal.js"></script>
    <script src="scripts/assets/js/bootstrap-dropdown.js"></script>
    <script src="scripts/assets/js/bootstrap-scrollspy.js"></script>
    <script src="scripts/assets/js/bootstrap-tab.js"></script>
    <script src="scripts/assets/js/bootstrap-tooltip.js"></script>
    <script src="scripts/assets/js/bootstrap-popover.js"></script>
    <script src="scripts/assets/js/bootstrap-button.js"></script>
    <script src="scripts/assets/js/bootstrap-collapse.js"></script>
    <script src="scripts/assets/js/bootstrap-carousel.js"></script>
    <script src="scripts/assets/js/bootstrap-typeahead.js"></script>-->



