<header>
	<img src={{imgSrc}} alt="logo" class="left" id="logo" />

	<nav>
		<div id="linksContainer" class="left"></div>
	</nav>
	<form>
		<input type="button" class="left" id="aroundMe" />
		<input type="button" class="left" id="favorites" />
		<input type="button" class="left" id="settings" />
	</form>

	<div id="pageOne" class="left">
	Test {{ fillMe }}

	 <div id="fullresponse"><span/></div>
	 <div id="sales1Lastname"><span/></div>
	 
	</div>
	
</header>
<div id="map"></div>

<div class="panel">
		<div id="headAccordion"></div>	
		<div class="css3_accordion accordion" id="bodyAccordion"></div>
</div>



